<!DOCTYPE html>
<html>
  <head>
    <title>ComicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    <h1> Comic Books </h1>
    <nav>
      <% if user_signed_in? %>
      <p> Welcome back, <%= current_user.first_name%>! </p>
      <% end %>

    <ul>
      <% if user_signed_in? %>
      <li> <%= link_to "Sign up", new_user_registration_path %> </li>
      <li> <%= link_to "Logout", destroy_user_session_path, method: "delete" %> </li>

      <% else %>
      <li> <%= link_to "Login", new_user_session_path %> </li>
      <% end %>

    </ul>
    </nav>
    <!-- ================================================ -->
    <% if notice %>
    <p class="notice"><%= notice %></p>
    <%end%>
     <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <p> Made with &hearts; at Ironhack.</p>
    </footer>

  </body>
</html>
