<!DOCTYPE html>
<html>
  <head>
    <title>Timetracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  	<h1>
  	<a href="/">
  	Von Asken's Time Tracking
  	</a>
  	</h1>

  	<!-- TODO: reference the partial -->
  	<!-- ============================ -->
  	
  	<%= render "blah/navigation" %>
  	
	<!-- app/blah/_navigation.html.erb -->
  	<!-- ============================== -->
  	

  	</header>
    

    <%= yield %>
  
  <footer>
  	<p> Made with &hearts; at Ironhack. </br>
 
  	</p>

  </footer>

  </body>
</html>
