<h1> Edit Concert</h1>

<%= form_for :concert, url: concert_path(@concert), 
method: :patch do |c| %>

	<% if @concert.errors.any? %>
		<div id="error_explanation">	
			<h2>
			  <%= pluraliza(@concert.errors.count, "error") %>
			  prohibited
			  	this article from being saved:
			  	</h2>
			  	<ul>
			  	<% @concert.errors.full_messages.each do |msg| %>
			  	<li><%= msg %></li>
			  	<% end %>
			    </ul>
		</div>
	<% end %>

		<p> 
			<%= c.label :artist %><br>
			<%= c.text_field :artist %>
		</p>


		<p> 
			<%= c.label :venue %><br>
			<%= c.text_field :venue %>
		</p>

		<p> 
			<%= c.label :date %><br>
			<%= c.date_field :date %>
		</p>

		<p> 
			<%= c.label :price %><br>
			<%= c.number_field :price %>
		</p>

		<p> 
			<%= c.label :description %><br>
			<%= c.text_field :description %>
		</p>

		<p>
		<%= c.submit %>
		</p>
<% end %>

<%= link_to 'Back', concerts_path %>


