<p>
<strong>Artist:</strong>
<% if @concert.artist.present? %>
<%= @concert.artist %>
<% end %>
</p>

<p>
<strong>Venue:</strong>
<% if @concert.venue.present? %>
<%= @concert.venue %>
<% end %>
</p>

<p>
<strong>Date:</strong>
<% if @concert.date.present? %>
<%= @concert.date %>
<% end %>
</p>

<p>
<strong>Price:</strong>
<% if @concert.price.present? %>
<%= @concert.price %>
<% end %>
</p>

<p>
<strong>Description:</strong>
<%= @concert.description %>
</p>

<h2>Add a comment:</h2>
<%= form_for([@concert, @concert.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
		<%= f.submit %>
</p>
  <%end%>