<p>
<strong>Artist:</strong>
<%= @concert.artist %>
</p>

<p>
<strong>Venue:</strong>
<%= @concert.venue %>
</p>

<p>
<strong>Date:</strong>
<%= @concert.date %>
</p>

<p>
<strong>Price:</strong>
<%= @concert.price %>
</p>

<p>
<strong>Description:</strong>
<%= @concert.description %>
</p>